.main {
    position: absolute;
    left: 5%;
    top: 10%;
}

.nav {
    display: block;
    padding: 0.5%;
    background-color: mediumaquamarine;
}

.navtab {
}

body {
    background-color: aquamarine
}

#body1 {
    position: fixed;
    right: 125px;
    top: 0px;
    margin-right: 0.5%;
    width: 115px;
    height: 35px;
}

#body2 {
    position: fixed;
    right: 125px;
    top: 37px;
    margin-right: 0.5%;
    width: 115px;
    height: 35px;
}

#body3 {
    position: fixed;
    right: 0px;
    top: 0px;
    margin-right: 0.5%;
    width: 115px;
    height: 35px;
}

#body4 {
    position: fixed;
    right: 0px;
    top: 37px;
    margin-right: 0.5%;
    width: 115px;
    height: 35px;
}

#logos {
    position: absolute;
    right: 15%;
    top: 100%;
    width: 512px;
    height: 300px;
}

#css {
    position: absolute;
    right: 15%;
    top: 100%;
    width: 512px;
    height: 300px;
}